* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Hiragino sans, Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, MS PGothic, "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
    color: #212121;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    top: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.wrap {
    display: flex;
    height: 100%;
    width: 100vw;
}

.side {
    position: relative;
    /* position: fixed; */
    background-color: #0078c8;
    height: 100%;
    width: 260px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 170px;
    text-align: center;
}

.logo {
    text-align: center;
    padding-top: 15px;
}

.icon-white {
    font-size: 40px;
    color: #fff;
}

.menu {
    color: #fff;
    display: flex;
    padding-left: 30px;
    margin-top: 5px;
    height: 65px;
    width: 230px;
    align-items: center;

}

.menu1 {
    margin-top: 45px;
}

.menu p {
    line-height: 45px;
    padding-left: 10px;
    font-size: 20px;
}

.sidemenu-under {
    position: absolute;
    bottom: 10px;
    width: 260px;
}

.main {
    margin: 0 auto;
}

.main-menu {
    /* width: 80vw; */
    height: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

.left-menu p {
    font-size: 20px;
    margin-left: 40px;
    line-height: 65px;
}

.menu-re {
    position: relative;
}

.circle {
    display: none;
    position: absolute;
    right: 10px;
    top: 23px;
    width: 15px;
    height: 15px;
    background: #FA4923;
    border-radius: 50%;
}

.icon-black {
    font-size: 40px;
    color: #49555e;
    line-height: 65px;
}

.icon-blue {
    font-size: 40px;
    color: #0078c8;
    line-height: 65px;
}

.right-menu {
    display: flex;
    /* width: 20%; */
    justify-content: space-around;
}

.right-menu p {
    line-height: 65px;
    margin-right: 40px;
}

.account {
    padding-left: 20px;
    display: flex;
}

.account p {
    margin-left: 10px;
}

.title p {
    color: #49555e;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    margin-left: 10px;
}

.title {
    display: flex;
    margin-top: 40px;
}

.title i {
    font-size: 70px;
}

.article {
    width: 80vw;
}

table {
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    table-layout: fixed;

}

table, table td, table th {
    border-collapse: collapse;
    border: solid 1px #DDD;

}

th {
    font-size: 20px;
    font-weight: 400;
}

thead th {
    background: #FBFBFB;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.th1 {
    background: #FBFBFB;
    width: 60px;
}


td {
    width: 70px;
    height: 70px;
    word-break: break-all;
    text-align: center;
}

.td-a {
    display: flex;
    align-items: center;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: 600;

    /* background-color: #B5DBF2; */

}

a {
    text-decoration: none;
}

td a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #49555e;
    font-weight: 600;
}

td a:hover {
    opacity: 0.8;
}

.timetable {
    height: 70px;
}

.menu:hover {
    background-color: #3B8FC7;
    
   
}

.link-icon {
    display: inline-block;
    font-size: 20px;
    align-items: center;
    padding-left: 3px;

}

.questions-wrap, .newses-wrap {
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80vw;
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}

.question-wrap, .news-wrap {
    width: 78vw;
    margin: 10px auto 0 auto;
}

.q-wrap {
    margin-top: 3px;
    position: relative;
    background: #77CFDB;
    width: 60%;
    padding: 20px 30px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.q-logo {
    position: absolute;
    top: 0px;
    left: 15px;
    color: #fff;
    font-size: 50px;
}

.a-logo {
    position: absolute;
    top: 0px;
    left: 15px;
    color: #ffe401;
    font-size: 50px;
}

.q-text, .a-text {
    background-color: #fff;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    padding: 30px 15px;
}

.a-wrap {
    position: relative;
    margin: 20px 0 0 auto;
    background: #5CA0E8;
    width: 60%;
    padding: 20px 30px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-form {
    padding: 30px 15px;
    width: 90%;
    border-radius: 10px;
    margin-left: 50px;
    border: none;
}

.submit {
    margin: 10px 0px 0 auto;
    text-align: right;

}

.question-submit, .news-submit {
    cursor: pointer;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: #5CA0E8;
    color: #fff;
    font-size: 17px;
    margin: 10px 0px 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
    width: 7px;
    background: #fafafa;
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 169, 177);
    border-radius: 5px;
}

.space {
    padding-bottom: 10px;
}

.question-form:focus, .news-form-title:focus, textarea:focus,
#news-select:focus, #news-select:checked {
    outline: none;
    border: 2px solid rgb(161, 169, 177);
}

.quesrion-hr {
    border: #DDD solid 1px;
    margin: 40px 0;
}

.news-hr {
    border: #DDD solid 1px;
    margin: 15px 0px 20px 0px;
}

.question-date {
    width: 60%;
    text-align: right;
    padding-left: 55px;
    font-size: 14px;
    padding-top: 5px;
}

.q-name-content {
    padding-left: 5px;
}

#news-select {
    border-radius: 10px;
    width: 20%;
    height: 35px;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    color: #495057;
    padding-left: 10px;
}

.news-form {
    width: 100%;
    margin: 0 auto;
}

#news-select option {
    color: #495057;
}

.news-textarea {
    margin-top: 15px;

}

.texxtarea {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    width: 98%;
    height: 100px;
    vertical-align: top;
    padding: 10px;
    font-family: Hiragino sans, Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, MS PGothic, "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
}

.news-form-title {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    height: 35px;
    width: 30%;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: Hiragino sans, Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, MS PGothic, "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;

}

.news-wrap .submit {
    margin-right: .5%;
}


/* アコーディオン全体 */
.accordion {
    /* padding-top: 15px; */
    width: 100%;
    margin: 0 auto;
}

/* アコーディオン */
.accordion__item {
    border: 1px solid #ddd;
    margin-top: 15px;
    cursor: pointer;
}

/* アコーディオンのタイトル */
.accordion__title {
    position: relative;
    padding: 15px 60px 15px 20px;
    font-weight: bold;
    cursor: pointer;
    color: #495057;
}

/* (+)アイコン */
.accordion__title::before,
.accordion__title::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #5CA0E8;
    width: 20px;
    height: 4px;
    transition: all 0.3s;
}

.accordion__title::after {
    transform: rotate(90deg);
}

/* アコーディオンのコンテンツ */
.accordion__content {
    padding: 0 20px 15px 20px;
    display: none;
    cursor: pointer;
    color: #212121;
}

.accordion__content.is-open {
    display: block;
}

/* アコーディオン展開時の(-)アイコン */
.accordion__item.is-active .accordion__title::before {
    transform: rotate(180deg);
}

.accordion__item.is-active .accordion__title::after {
    transform: rotate(180deg);
    opacity: 0;
}

.news-date {
    padding-right: 30px;
}